body{
  background: #f5f5f5;
}

.wrap-content{
  margin-left: 200px;
  margin-top: 200px;
}

.wrap-btn{
  display: inline-block;
  width: 250px;
  height: 200px;
  position: relative;
  border-radius: .5rem;
  background: #fff;
  margin: 5px;
  cursor: pointer;
}

.wrap-btn:hover{
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}


.btn-left{
  background-image: linear-gradient(to right, #fc00ff 0%, #00dbde 51%, #fc00ff 100%);
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.btn-right{
  background-image: linear-gradient(to right, #FF4E50 0%, #F9D423  51%, #FF4E50  100%);
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.btn-custom{
  width: 170px;
  height: 55px;
  padding: 15px 37px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  box-shadow: 0 0 20px #eee;
  border: none;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}

.btn-custom::focus{
  outline: none !important;
}

.btn-left:hover{
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.btn-right:hover{
  background-position: right center;
  color: #fff;
  text-decoration: none;
}